@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Questrial&display=swap');

:root {
  --color-body-text: #b7860e;
  --color-body-background: #e6901c;
  --color-links: #fcbd11;
}
nav a {
  text-decoration: none;
}

nav a:hover {
  color: orangered;
  
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #e6901c;
  font-family: 'Questrial', sans-serif;
  color: var(--color-body-text);
} 

section {
  color: #603c13;
  
}

img {
  width: 100%;
  display: block;
  border-radius: 50%
}
p {
  line-height: 1.5;
}
a {
  color: #fcbd11;
  line-height: 1.5;
  font-size: 1rem;

}

header {
  padding: 2rem;
  background-color: #566433;
  margin-bottom: 5rem;
  text-align: center;
  border-radius: 40%;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.1rem;
}
main {
  padding: 3rem;
}

div {
  border: 10px dotted #ed5629;
  padding: 30px;
  border-radius: 40%;
  
}

footer {
  margin-top: 2rem;
  text-align: center;
  background-color: #514733;
  padding: 1rem;
  border-radius: 40%;
}

.center {
  max-width: 50rem;
  margin: 0 auto;
}