body {
  background: rgb(238,174,202);
  background: linear-gradient(45deg, rgba(238,100,202,1) 0%, rgba(148,187,233,1) 100%);
 min-height: 100vh;
 text-align: center;
 color: yellow;
 font-family: courier new;
 

}

a {
text-decoration: line;
color: magenta;
 
}

img {
 display: block;
  margin-left: auto;
 margin-right: auto;
 width: 50%;
 padding: 1rem;
 
}

.box {
 padding: 1em;
 height: 180px;
  background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 

}


footer {
 text-align: center;
 padding: 1rem;
   margin-bottom: 0;
    background: rgb(324,536,156);
background: linear-gradient(0deg,
rgba(31,212,216,0.8) 0%, rgba(40,236,79,0.8) 60%); 
}
