@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
	font-family: 'Poppins', sans-serif;
  max-width:600px;
  margin: 0 auto;
  background-color:#F2EAE9;
   padding: 100px;
 
}

    
h2 {font-size: 18px;
    }
h3 {font-size: 18px;
    }
h4 {font-size: 18px;
    }

p{
  line-height: 1.5;
}
img {
  width:100%;
    display: block;
} 

footer{
  text-align: center} 