body {
    background-color: #0A350F;
  
  }
  
  h1 {
    color: #9CB99F;
    font-family: courier new;
    font-size: 25px;
    border: 4px dotted white;
    background-color: #92AF6;
    padding: 40px;
  }
  
  p {
    font-family: courier new;
    font-size: 30px;
  }