@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
  body {
  font-family: 'Work Sans', sans-serif;
  background-color: #eca4fb;
  padding: 0.5rem;
  max-width: 50rem;
  margin: 0 auto;

}
img {
  border-radius: 12px;
  width: 100%;
  padding: 6px;
}

p {
  line-height: 1.5;
  margin: 1rem 0;
  font-size: 0.7rem;
}


.container {
  background-color: white;
  margin: 0 auto;
    display: flex;  
    padding: 0.5em;
  border-radius: 12px;
max-width: auto;   
 
  align-items: center;
flex-wrap: wrap;
  gap: 1rem;
  
}

main {
max-width:40rem;
  margin: 0 auto;
}

.row-left {
  flex-basis: 60%; 
  flex-grow: 1;

}

.row-right {
  flex-grow: 1;
  flex-basis: 35%;
  min-width: 9rem;

}
